/* Styles for Mobile Site */

body{

    background-color:RGB(251, 251, 156);
    font-family:fantasy;
    color: RGB(254, 50, 130)
}

/* Header & Hero */
header P{

    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-style:normal;

    }

header {

    border: 8px solid RGB(64, 205, 234);
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-style:normal;
    }

header h1{

    text-align: center;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    
    }

#hero{

    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    padding: 20px; 
}
#hero img{

    width: 8em ;
    
}

#hero p{

    text-align: center;

    }

/* Projects */

#projects img{

    width: 250px ;
    height: 300px;

}

/* Reviews */

/* Footer */


/* Media state for Desktop site */
@media (min-width: 1000px) {

    /* Header & Hero */

    /* Projects */

    /* Reviews */

    /* Footer */

}