/* Styles for Mobile Site */

h1{

    font-family:Lilita One;

}
body{

    background-color:RGB(251, 251, 156);
    font-family:fantasy;
    color: RGB(254, 50, 130)
}

/* Header & Hero */
P{

    font-family:Agbalumo;
    font-style:normal;

    }

header {

    border: 8px solid RGB(64, 205, 234);
    font-family:Agbalumo;
    font-style:normal;
    }

header h1{

    text-align: center;
    font-size: 30px;
    font-weight:initial;
    letter-spacing: 2px;
    
    
    }

#hero{

    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    padding: 20px; 
}
#hero img{

    width: 8em ;
    border-radius: 3.5em;
    
}

/* Projects */

#projects{

    background-color: RGB(254, 189, 85);
    padding: 2rem;
    border:10px solid RGB(96, 97, 171);
    margin-top:.5rem;
    padding: 1rem;
    margin-right: .2rem;


}


#projects img{

    width: 250px ;
    height: 300px;

}

#projects h3{

    font-family:Outfit;
    text-align: end;


}


/* Reviews */
#reviews h3{

    font-family:Outfit;

}
h2 {

    font-family: Oswald;
}
#reviews h2{

    text-align: center;

}


/* Footer */


/* Media state for Desktop site */
@media (min-width: 1000px) {

    /* Header & Hero */

    /* Projects */

    /* Reviews */

    /* Footer */

}